<header>


p{
  color:purple;
}


body {
  font-family: Helvetica;
}


p {
  color: auqa;
  text-align: center;
  }


ol {
  height: 100;
  color: blue;
}
  

ul {
  width: 95;
  front-size:12px
}

h1,
.items {
  list-style: square;
  }
  

  <footer>
